src/SSOLib/Web References/Service/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="tns:WebUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UniqueId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserByUniqueId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByUniqueIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByUniqueIdResult" type="tns:WebUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByTokenResult" type="tns:WebUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserLoggedIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserLoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUserLoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedirectId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStauts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStautsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserStautsResult" type="tns:UserStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserLoggedIn" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestIdValid" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByUniqueIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByUniqueId" />
  </wsdl:message>
  <wsdl:message name="GetUserByUniqueIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByUniqueIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByToken" />
  </wsdl:message>
  <wsdl:message name="GetUserByTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserLoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IsUserLoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidRequestSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidRequest" />
  </wsdl:message>
  <wsdl:message name="IsValidRequestSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserStautsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserStauts" />
  </wsdl:message>
  <wsdl:message name="GetUserStautsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserStautsResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthServiceSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUniqueId">
      <wsdl:input message="tns:GetUserByUniqueIdSoapIn" />
      <wsdl:output message="tns:GetUserByUniqueIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByToken">
      <wsdl:input message="tns:GetUserByTokenSoapIn" />
      <wsdl:output message="tns:GetUserByTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserLoggedIn">
      <wsdl:input message="tns:IsUserLoggedInSoapIn" />
      <wsdl:output message="tns:IsUserLoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidRequest">
      <wsdl:input message="tns:IsValidRequestSoapIn" />
      <wsdl:output message="tns:IsValidRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStauts">
      <wsdl:input message="tns:GetUserStautsSoapIn" />
      <wsdl:output message="tns:GetUserStautsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthServiceSoap" type="tns:AuthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUniqueId">
      <soap:operation soapAction="http://tempuri.org/GetUserByUniqueId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByToken">
      <soap:operation soapAction="http://tempuri.org/GetUserByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserLoggedIn">
      <soap:operation soapAction="http://tempuri.org/IsUserLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidRequest">
      <soap:operation soapAction="http://tempuri.org/IsValidRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStauts">
      <soap:operation soapAction="http://tempuri.org/GetUserStauts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthServiceSoap12" type="tns:AuthServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUniqueId">
      <soap12:operation soapAction="http://tempuri.org/GetUserByUniqueId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByToken">
      <soap12:operation soapAction="http://tempuri.org/GetUserByToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserLoggedIn">
      <soap12:operation soapAction="http://tempuri.org/IsUserLoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidRequest">
      <soap12:operation soapAction="http://tempuri.org/IsValidRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStauts">
      <soap12:operation soapAction="http://tempuri.org/GetUserStauts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="AuthServiceSoap" binding="tns:AuthServiceSoap">
      <soap:address location="http://www.sso.com/AuthService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthServiceSoap12" binding="tns:AuthServiceSoap12">
      <soap12:address location="http://www.sso.com/AuthService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>